        body {
            background-color: #ddd;
        }

        main {
            display: flex;
            flex-direction: column;
            background-color: rgb(77, 93, 83);
        }

        main div {
            margin: .5rem auto;
        }

        h2 {
            height: 1rem;
            margin: 0 auto;
            padding: .5rem;
        }

        div.alphabet {
            border: 5px solid #000;
            border-radius: 5px;
            background-color: #fff;
            width: 30rem;
            padding: 5px 0;
        }

        div.alphabet p {
            margin: 0;
            padding-left: 1rem;
            letter-spacing: .5rem;
        }

        div.alphabet p:first-child {
            background-color: darkred;
            color: #ddd;
            text-align: center;
            font-size: 2rem;
            letter-spacing: .1rem;

        }

        div.keyboard {
            width: 30rem;
            display: flex;
            flex-direction: column;
            background-color: darkred;
            border: 3px solid #fff;
            padding: 2px;
        }

        div.keyboard>div {
            max-height: 3rem;
            display: flex;
            justify-content: center;
            padding: 2px;
        }

        div.keyboard>div>button {
            width: 3rem;
            height: 3rem;
            line-height: 1rem;
            border-radius: 50%;
            border: 1px solid #999;
            margin: 2px;
            background-color: #000;
            color: #fff;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        div.keyboard>div>button:focus {
            color: #ff0;
            outline: none;
        }

        div.dataoperator {
            max-width: 60rem;
            min-width: 30rem;
            border: 1px solid #999;
            border-radius: 5px;
            background-color: #fff;
            padding: 5px 0;
            background-color: #999;
        }

        div.dataoperator>div {
            border: 2px solid #000;
            border-radius: 5px;
            background-color: darkred;
        }

        div.dataoperator>div>button {
            background-color: #333;
            color: #ddd;
            border: 1px solid #333;
            border-radius: 5px;
            margin: 5px;
            font-size: 1.2rem;
            height: 2.5rem;
        }

        div.typein,
        div.sendin,
        div.digits,
        div.cipher {
            width: 100%;
            background-color: #ccc;
            height: 2.5rem;
            border: 1px solid #fff;
            letter-spacing: .2rem;
        }

        div.typein {
            text-align: right;
        }

        div.typein>span,
        div.sendin>span,
        div.digits>span,
        div.cipher>span {
            display: inline-block;
            background-color: #fff;
            color: #333;
            border: 1px solid #333;
            font-size: 2rem;
            text-transform: uppercase;
            height: 2rem;
            text-align: right;
        }

        form {
            display: inline-block;
        }

        form input {
            font-size: 1.8rem;
            width: 5rem;
        }

        h3 {
            color: #eee;
            margin: 1rem;
        }

        ul {
            margin: 1rem
        }

        a {
            color: #ff0
        }